.footer {
    padding: 17px 0;
    margin-top: 80px;
    background: $colorBlue;

    &__links {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }

    &__item {
        margin-right: 40px;

        a {
            color: $colorLight;
            line-height: 1.75;

            &:hover {
                opacity: 1;
                text-decoration: underline;
            }
        }
    }
}
