body {
  font-family: 'Open Sans', sans-serif;
}

:root {
  --color-dark: #3F3F3F;
  --color-light: #FFF;
  --color-yellow: #FFE200;
  --color-gray: #A9A9A9;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h3 {
  font-size: 12px;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  opacity: 0.8;
}

.btn {
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 900;
  color: var(--color-light);
  background: transparent -webkit-gradient(linear, left top, right top, from(#3BA9FB), to(#148AF1)) 0% 0%;
  background: transparent linear-gradient(90deg, #3BA9FB 0%, #148AF1 100%) 0% 0%;
  -webkit-box-shadow: 0px 2px 7px #00000033;
          box-shadow: 0px 2px 7px #00000033;
  border-radius: 4px;
}

.btn__cta {
  background: var(--color-yellow);
  color: var(--color-dark);
  border: 2px solid var(--color-yellow);
}

.btn__ghost {
  background: transparent;
  border: 2px solid var(--color-light);
}

.btn--big {
  font-size: 16px;
  min-width: 200px;
  padding: 15px 20px;
  text-transform: uppercase;
}

.btn + .btn {
  margin-left: 10px;
}

.navigation .btn {
  margin-left: 30px;
}

.container {
  max-width: 1158px;
  padding: 0 24px;
  margin: 0 auto;
}

.navigation__wrapper {
  padding: 12px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo {
  display: block;
  max-height: 26px;
}

.navigation__link {
  margin-left: 35px;
  color: var(--color-dark);
  font-size: 16px;
}

.header {
  position: relative;
  min-height: 494px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.header:hover .header__img-bg {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header:hover .header__img-bg--below {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.header__img-bg--below {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.header__wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.header__content {
  max-width: 620px;
  padding-bottom: 70px;
}

.header__heading {
  padding-bottom: 44px;
  color: var(--color-light);
}

.logos {
  padding: 60px 0 30px;
  border-bottom: 1px solid var(--color-gray);
  text-align: center;
  color: var(--color-gray);
}

.logos__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logos__item {
  max-width: 80px;
  padding: 30px;
}
/*# sourceMappingURL=index.css.map */