body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --color-dark: #3F3F3F;
    --color-light: #FFF;
    --color-yellow: #FFE200;
    --color-gray: #A9A9A9;
}

$colorDark: var(--color-dark);
$colorLight: var(--color-light);
$colorYellow: var(--color-yellow);
$colorGray: var(--color-gray);

h1 {
    font-size: 48px;
    font-weight: 900;
}

h3 {
    font-size: 12px;
}

a {
    text-decoration: none;
    transition: 0.2s;

    &:hover {
        opacity: 0.8;
    }
}

.btn {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 900;
    color: $colorLight;
    background: transparent linear-gradient(90deg, #3BA9FB 0%, #148AF1 100%) 0% 0%;
    box-shadow: 0px 2px 7px #00000033;
    border-radius: 4px;

    &__cta {
        background: $colorYellow;
        color: $colorDark;
        border: 2px solid $colorYellow;
    }

    &__ghost {
        background: transparent;
        border: 2px solid $colorLight;
    }

    &--big {
        font-size: 16px;
        min-width: 200px;
        padding: 15px 20px;
        text-transform: uppercase;
    }

    & + & {
        margin-left: 10px;
    }

    .navigation & {
        margin-left: 30px;
    }
}

.container {
    max-width: 1158px;
    padding: 0 24px;
    margin: 0 auto;
}

.navigation {
    &__wrapper {
        padding: 12px 15px;
        display: flex;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: block;
        max-height: 26px;
    }
    
    &__link {
        margin-left: 35px;
        color: $colorDark;
        font-size: 16px;
    }
}

.header {
    position: relative;
    min-height: 494px;
    display: flex;
    align-items: center;
    overflow: hidden;

    &:hover {
        .header__img-bg {
            transform: translateY(-100%);
        }

        .header__img-bg--below {
            transform: translateY(0);
        }
    }

    &__img-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        transition: 0.5s;
        transition-timing-function: ease-out;

        &--below {
            transform: translateY(100%);
        }
    }

    &__wrapper {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
    }

    &__content {
        max-width: 620px;
        padding-bottom: 70px;
    }

    &__heading {
        padding-bottom: 44px;
        color: $colorLight;
    }
}

.logos {
    padding: 60px 0 30px;
    border-bottom: 1px solid $colorGray;
    text-align: center;
    color: $colorGray;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        max-width: 80px;
        padding: 30px;
    }
}